<!DOCTYPE html>
<div xmlns:th="http://www.w3.org/1999/xhtml">
    
    <div th:fragment="company-header" class="companyInfoHeader">
        <div>
            <span>Придприятие</span>
            <span id="name" th:text="${{company.name}}"></span>
        </div>
        <div>
            <span th:text="${{company.usageType.name}}"></span>
        </div>
    </div>
    <div>
        <a th:href="@{/company/{id}/update(id=${company.id})}">Редактировать</a>
        <form th:action="@{'/company/{id}'(id=${company.id})}" th:method="DELETE">
            <button type="submit" id="submitButton">Удалить</button>
        </form>
    </div>
    
    <h2>Выпуски</h2>
    <a th:href="@{/company/{companyId}/outlet/create(companyId=${company.id})}">Добавить выпуск</a>
    <table class="">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Диаметр</th>
            <th>Минимальная скорость течения воды</th>
            <th>Угол истечения</th>
            <th>Глубинна</th>
            <th>Расстояние до берега</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="out : ${outlets}">
            <td th:text="${{out.id}}"></td>
            <td th:text="${{out.diameter}}"></td>
            <td th:text="${{out.flowRate}}"></td>
            <td th:text="${{out.angle}}"></td>
            <td th:text="${{out.depth}}"></td>
            <td th:text="${{out.distanceToCoast}}"></td>
            <td>
                <a th:href="@{/company/{companyId}/outlet/{outletId}/update(companyId=${company.id},outletId=${out.id})}">
                    Редактировать</a>
            </td>
            <td>
                <form th:action="@{'/outlet/{id}'(id=${out.id})}" th:method="DELETE">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    
    <form th:action="@{/company/{id}/timeRange(id = ${company.id})}" th:method="post">
        <div>Просмотр перечня всех выбросов для выбранного предприятия в выбранных момент времени</div>
        <input name="dateBegin" type="date"/>
        <input name="dateEnd" type="date"/>
        <button type="submit">Показать</button>
    </form>
    
</div>